.wrap .newgenn-buy-pro, .wrap .description.customize-section-description a {
  background: #ec1d23;
  color: white;
  padding: 2px 7px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 2px; }

.wrap .newgenn-docs {
	display: block;
	font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
}