#css_logo {
  position:absolute;  
  display:flex;
  flex-direction:column;
  background-size:100%;
  text-align:center;
  overflow:hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  top: 10px;
  left: 16px;
}
.snowflake {
  position:relative;
  display:inline-block;
  color:orange;
  font-family:"Georgia", serif;
  line-height:0;
  width:4rem;
  height:4rem;
  -webkit-animation:spin 20s linear infinite, glow 2s linear infinite;
  -moz-animation:spin 20s linear infinite, glow 2s linear infinite;
  -ms-animation:spin 20s linear infinite, glow 2s linear infinite;
  animation:spin 20s linear infinite, glow 2s linear infinite;
}
@-webkit-keyframes spin {
  0%{ -webkit-transform:rotate(0); }
  100%{ -webkit-transform:rotate(1turn); }
}
@-webkit-keyframes glow { 50%{ text-shadow:0 0 3rem rgba(255,255,255,.2); } }

@-moz-keyframes spin {
  0%{ -moz-transform:rotate(0); }
  100%{ -moz-transform:rotate(1turn); }
}
@-moz-keyframes glow { 50%{ text-shadow:0 0 3rem rgba(255,255,255,.2); } }

@-ms-keyframes spin {
  0%{ -ms-transform:rotate(0); }
  100%{ -ms-transform:rotate(1turn); }
}
@-ms-keyframes glow { 50%{ text-shadow:0 0 3rem rgba(255,255,255,.2); } }

@keyframes spin {
  0%{ transform:rotate(0); }
  100%{ transform:rotate(1turn); }
}
@keyframes glow { 50%{ text-shadow:0 0 3rem rgba(255,255,255,.2); } }

.snowflake s {
  display:inline-block;
  position:absolute;
  left:0;
  bottom:0;
  -webkit-transform-origin:center top;
  -moz-transform-origin:center top;
  -ms-transform-origin:center top;
  transform-origin:center top;
  font-family:monospace;
  width:4rem;
  height:2rem;
  font-size:5rem;
  text-decoration:none;
  letter-spacing:-.5rem;
}

.snowflake s:nth-child(2){
	-webkit-transform:rotate(.2turn);
	-moz-transform:rotate(.2turn);
	-ms-transform:rotate(.2turn);
	transform:rotate(.2turn);
}
.snowflake s:nth-child(3){
	-webkit-transform:rotate(.4turn);
	-moz-transform:rotate(.4turn);
	-ms-transform:rotate(.4turn);
	transform:rotate(.4turn);
}
.snowflake s:nth-child(4){
	-webkit-transform:rotate(.6turn);
	-moz-transform:rotate(.6turn);
	-ms-transform:rotate(.6turn);
	transform:rotate(.6turn);
}
.snowflake s:nth-child(5){
	-webkit-transform:rotate(.8turn);
	-moz-transform:rotate(.8turn);
	-ms-transform:rotate(.8turn);
	transform:rotate(.8turn);
}


section { flex:1; }
