/*
Theme Name: NewGenn
Theme URI: http://www.webulousthemes.com/newgenn/
Author: N. Venkat Raj
Author URI: http://www.webulousthemes.com/
Description: NewGenn comes with modern, stylish and responsive design. It uses skeleton framework for grids which keeps minimal css. Stylesheet is generated using SASS and so stays DRY. Best suited for Corporate/Business/Blog sites. There is no theme options panel, instead uses Customizer, core feature of WordPress and comes with lots of options to customize. Has 4 Footer Widget Areas.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: newgenn
Tags: light, right-sidebar, custom-background, custom-menu, featured-images, post-formats, responsive-layout, sticky-post, threaded-comments, translation-ready, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

NewGenn is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Grid
3.0 Typography
4.0 Elements
  4.1 Forms
5.0 Navigation
  5.1 Links
  5.2 Menus
6.0 Media
  6.1 Captions
  6.2 Galleries 
7.0 Modules
  7.1 Accessibility
  7.2 Alignments
  7.3 Clearings
  7.4 Infinite scroll
8.0 Header
9.0 Primary
10.0 Secondary
11.0 Footer
12.0 Responsiveness

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;/*
  font-size: 14px;*/
  font-style: inherit;
 /* font-weight: inherit;*/
  margin-left: 0;
  margin-right: 0;
    outline: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.42857;h1
   }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
  overflow-x: hidden; }

.pull-right{
  text-align: right;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

.team_img{
  border: 1.5px solid #d2233d;
  height: auto;
  width: 150px;
}
.space{margin-top: 20px;}
/*--------------------------------------------------------------
2.0 Grid
--------------------------------------------------------------*/
.container {
  position: relative;
 /* width: 93%;*/
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px; }
  .container .one.column {
    width: 4.1%; }
  .container .two.columns {
    width: 10.4%; }
  .container .three.columns {
    width: 16.6%; }
  .container .four.columns {
    width: 22.9%; }
  .container .five.columns {
    width: 29.16%; }
  .container .six.columns {
    width: 35%; }
  .container .seven.columns {
    width: 41.6%; }
  .container .eight.columns {
    width: 47.9%; }
  .container .nine.columns {
    width: 54.16%; }
  .container .ten.columns {
    width: 60%; }
  .container .eleven.columns {
    width: 66.66%; }
  .container .twelve.columns {
    width: 72.9%; }
  .container .thirteen.columns {
    width: 79.16%; }
  .container .fourteen.columns {
    width: 85%; }
  .container .fifteen.columns {
    width: 91.66%; }
  .container .sixteen.columns {
    width: 100%; }
  .container .one-third.column {
    width: 31.25%; }
  .container .two-thirds.column {
    width: 64.5%; }
  .container .offset-by-one {
    padding-left: 6.25%; }
  .container .offset-by-two {
    padding-left: 12.5%; }
  .container .offset-by-three {
    padding-left: 18.75%; }
  .container .offset-by-four {
    padding-left: 25%; }
  .container .offset-by-five {
    padding-left: 31.25%; }
  .container .offset-by-six {
    padding-left: 37.5%; }
  .container .offset-by-seven {
    padding-left: 43.7%; }
  .container .offset-by-eight {
    padding-left: 50%; }
  .container .offset-by-nine {
    padding-left: 56.25%; }
  .container .offset-by-ten {
    padding-left: 62.5%; }
  .container .offset-by-eleven {
    padding-left: 68.75%; }
  .container .offset-by-twelve {
    padding-left: 75%; }
  .container .offset-by-thirteen {
    padding-left: 81.25%; }
  .container .offset-by-fourteen {
    padding-left: 87.5%; }
  .container .offset-by-fifteen {
    padding-left: 93.75%; }

.column, .columns {
  float: left;
  display: inline;
 /* margin-left: 1%;
  margin-right: 1%;*/ }
  .column .alpha, .columns .alpha {
    margin-left: 0; }
  .column .omega, .columns .omega {
    margin-right: 0; }

.row {
  margin-bottom: 2%; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 93%; }
    .container .column, .container .columns {
      margin-left: 1.3%;
      margin-right: 1.3%; }
      .container .column .alpha, .container .columns .alpha {
        margin-left: 0;
        margin-right: 1.3%; }
      .container .column .omega, .container .columns .omega {
        margin-left: 1.3%;
        margin-right: 0%; }
    .container .one.column {
      width: 3.64%; }
    .container .two.columns {
      width: 9.89%; }
    .container .three.columns {
      width: 16.1%; }
    .container .four.columns {
      width: 22.39%; }
    .container .five.columns {
      width: 28.64%; }
    .container .six.columns {
      width: 34.89%; }
    .container .seven.columns {
      width: 41.14%; }
    .container .eight.columns {
      width: 47.39%; }
    .container .nine.columns {
      width: 53.64%; }
    .container .ten.columns {
      width: 59.89%; }
    .container .eleven.columns {
      width: 66.14%; }
    .container .twelve.columns {
      width: 72.39%; }
    .container .thirteen.columns {
      width: 78.64%; }
    .container .fourteen.columns {
      width: 84.89%; }
    .container .fifteen.columns {
      width: 91.14%; }
    .container .sixteen.columns {
      width: 97.39%; }
    .container .one-third.column {
      width: 30.72%; }
    .container .two-thirds.column {
      width: 64%; }
    .container .offset-by-one {
      padding-left: 6.25%; }
    .container .offset-by-two {
      padding-left: 12.5%; }
    .container .offset-by-three {
      padding-left: 18.75%; }
    .container .offset-by-four {
      padding-left: 25%; }
    .container .offset-by-five {
      padding-left: 31.25%; }
    .container .offset-by-six {
      padding-left: 37.5%; }
    .container .offset-by-seven {
      padding-left: 43.75%; }
    .container .offset-by-eight {
      padding-left: 45%; }
    .container .offset-by-nine {
      padding-left: 56.25%; }
    .container .offset-by-ten {
      padding-left: 62.5%; }
    .container .offset-by-eleven {
      padding-left: 68.75%; }
    .container .offset-by-twelve {
      padding-left: 75%; }
    .container .offset-by-thirteen {
      padding-left: 81.25%; }
    .container .offset-by-fourteen {
      padding-left: 87.5%; }
    .container .offset-by-fifteen {
      padding-left: 93.75%; } }
@media only screen and (max-width: 767px) {
  .container {
    width: 93%; }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
      width: 100%; }
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen {
      padding-left: 0; }

  .columns, .column {
    margin: 0; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 93%; }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
      width: 100%; }

  .columns, .column {
    margin: 0; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-cta:before,
.panel-row-style-cta:after,
.panel-row-style-cta:before,
.panel-row-style-section-pattern2:after,
.panel-row-style-section-pattern2:before,
.panel-row-style-wide-grey:before,
.panel-row-style-wide-grey:after,
.panel-row-style-wide-dark-grey:before,
.panel-row-style-wide-dark-grey:after,
.panel-row-style-section-pattern:before,
.panel-row-style-section-pattern:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-wide-grey:after,
.panel-row-style-wide-grey:before,
.panel-row-style-wide-dark-grey:after,
.panel-row-style-wide-dark-grey:before,
.panel-row-style-section-pattern2:after,
.panel-row-style-section-pattern2:before,
.panel-row-style-section-pattern:before,
.panel-row-style-section-pattern:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* ==|== primary styles =====================================================
   Author: Lucas - Skeleton Based Media Queries
   ========================================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
body{ width: 940px;}
body, 
button,
input,
select,
textarea {
  color: #030303;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 0px;
  margin-left: auto;
  margin-right: auto;
   }
.entry-content p{
  font-size: 14px;
  font-size: 1.4rem!important;
}
.entry-content ul {list-style: inside !important;}
.entry-content p strong{
  font-size: 18px;
  line-height: 17.5px;
  font-weight: 700;
  color: inherit;
  font-family: inherit;
}
/*.header-wrap{ width: 90%; left: auto; right: auto;}*/

.entry-content li {font-size: 1.4rem; font-size: 14px; text-align: justify;}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: inherit;
  font-family: tahoma,sans-serif;
  clear: both;
  margin-bottom: 5px; 
  text-rendering: optimizelegibility;
}
.con_us{margin-top: 8px;}
h1 {
  font-size: 30px;
  font-size: 3.0rem; }

h2 {
  font-size: 21px;
  line-height: 22px; 
  font-weight: 600; 
}

h3 {
  font-size: 18px;
  line-height: 28.5px }

h4 {
  font-size: 15px;
  font-size: 15px; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: 500; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #d7d7d7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #030303;
  cursor: help; }

mark, ins {
  background: #d7d7d7;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #D2233D;
  border: 0;
  height: 1px;
  margin-bottom: .5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }
  table th {
    font-weight: 700;
    text-transform: uppercase; }
  table td, table th {
    border-bottom: 1px solid #d7d7d7;
    padding: 10px; }

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.2);
  background: #EC1D23;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  line-height: 1;
  padding: .6em 1em;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #030303;
  background-color: #030303; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #030303;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #000;
  border: 1px solid #d7d7d7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #000;
  border-color: #EC1D23; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 6px 3px;
  margin-bottom: 10px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
  line-height: 19px;
  margin-bottom: 5px; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: square; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: #EC1D23;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:visited {
    color: #EC1D23; }
  a:hover, a:focus, a:active {
    color: #81152D;
    outline: none;
    outline-offset: 0; }

/* ---- Css Custom ------*/
.right-sidebar{float: right !important;
margin-top: 37px;}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.nav-wrap {
  background: #ffffff;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
   }

.main-navigation {
  background-color:#8B0000;
  display: block;
  float: left;
  height: 40px;
  margin-bottom: 8px;
   }
  .main-navigation ul {
    background-color: #000000;
    display: inline-block;
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0; 
    }
    .main-navigation ul ul {
      position: absolute;
      top: auto;
      left: -999em;
      z-index: 99999;
      border: 1px solid #d7d7d7;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li {
        padding: 0;
        background-color: #EC1D23;
        margin: 0; }
        .main-navigation ul ul li:hover > ul {
          right: 100%; }
      .main-navigation ul ul a {
        width: 250px;
        padding: 12px 15px;
        font-weight: none;
        background-color: #fff;
        color: #030303; }
    .main-navigation ul li:hover > ul {
      left: auto;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .main-navigation li {
    position: relative;
    float: left;
     }
  .main-navigation li:last-child{float:right;}
  .main-navigation a {
    position: relative;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    font-weight: 400; }
  .main-navigation .current_page_item > a,
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_ancestor > a {
    background-color: #EC1D23;
    color: #fff; }

.main-navigation ul.nav-menu > li > a {
  position: relative; 
  padding: 10px 10px;
  padding-top: 6px;

  border-right: 1px solid #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}.main-navigation ul.nav-menu > li:last-child > a{
border-right: none;
}
  .main-navigation ul.nav-menu > li > a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #d7d7d7;
    content: "";
    z-index: -1; }

.main-navigation ul.nav-menu > li > a:hover {
  color: #fff;
  background-color: #EC1D23; }
  .main-navigation ul.nav-menu > li > a:hover:before {
    height: 100%;
    background-color: #EC1D23; }

.main-navigation ul.nav-menu > li li a:hover {
  background-color: #EC1D23;
  color: #fff; }

/* Small menu */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  .main-navigation.toggled ul.menu.nav-menu {
    display: block; }
    .main-navigation.toggled ul.menu.nav-menu li {
      border-bottom: 1px solid #81152D; }
    .main-navigation.toggled ul.menu.nav-menu ul {
      border: 1px solid #81152D; }
      .main-navigation.toggled ul.menu.nav-menu ul li:hover ul {
        left: auto;
        margin-left: 50%; }

  .main-navigation {
    padding: 15px 0; }
    .main-navigation ul {
      display: none; }

  .primary-menu select {
    padding: 5px 0;
    width: 100%; } }
.comment-navigation,
.paging-navigation,
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation {
  /*margin-bottom: 2.5em;*/ }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
  background-color: #000; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 49%; }

.post-navigation span {
  display: none; }

.navigation a,
.more-link,
.comment-navigation a {
  background-color: #fff;
  color: #030303;
  padding: 10px;
  display: block;
  border: 1px solid #030303; }
  .navigation a:hover,
  .more-link:hover,
  .comment-navigation a:hover {
    background-color: #fff;
    border-color: #81152D;
    color: #81152D; }

.nav-links,
.more-link {
  position: relative; }
  .nav-links a,
  .more-link a {
    position: relative; }
  .nav-links .meta-nav,
  .more-link .meta-nav {
    background-color: #030303;
    color: #fff;
    text-align: center;
    position: absolute;
    display: block;
    padding: 0 15px;
    font-size: 30px;
    font-size: 3rem;
    height: 100%;
    top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: normal; }
    .nav-links .meta-nav:hover,
    .more-link .meta-nav:hover {
      background-color: #fff;
      color: #81152D; }
  .nav-links .nav-previous a,
  .more-link .nav-previous a {
    padding-left: 50px; }
  .nav-links .nav-previous .meta-nav,
  .more-link .nav-previous .meta-nav {
    left: 0; }
  .nav-links .nav-next a,
  .more-link .nav-next a {
    padding-right: 50px; }
  .nav-links .nav-next .meta-nav,
  .more-link .nav-next .meta-nav {
    right: 0; }

a.more-link {
  padding-right: 50px; }
  a.more-link .meta-nav {
    right: 0;
    background-color: #030303;
    color: #fff;
    line-height: normal; }
  a.more-link:hover .meta-nav {
    background-color: transparent;
    color: #81152D; }

.nav-links a:hover .meta-nav {
  background-color: transparent;
  color: #81152D; }

.webulous_page_navi {
  list-style-type: none;
  margin: 0;
  text-align: center; }
  .webulous_page_navi li {
    display: inline; }
    .webulous_page_navi li a {
      display: inline-block;
      padding: 10px;
      border-bottom: 8px solid rgba(236, 29, 35, 0.5);
      color: #030303;
      margin: 0 10px; }
      .webulous_page_navi li a:hover {
        border-color: #ec1d23; }
  .webulous_page_navi li.bpn-next-link,
  .webulous_page_navi li.bpn-prev-link {
    margin-right: 20px; }
    .webulous_page_navi li.bpn-next-link a,
    .webulous_page_navi li.bpn-prev-link a {
      background-color: #EC1D23;
      padding: 8px 16px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: 0;
      color: #fff;
      font-size: 20px;
      font-size: 2rem;
      position: relative;
      margin: 0;
      top: 10px; }
      .webulous_page_navi li.bpn-next-link a:hover,
      .webulous_page_navi li.bpn-prev-link a:hover {
        background-color: #030303; }
  .webulous_page_navi li.bpn-next-link {
    margin-left: 20px; }
  .webulous_page_navi li.bpn-current {
    border-bottom: 8px solid #EC1D23;
    color: #030303;
    padding: 10px 10px; }

.main-navigation .current_page_item a, .main-navigation .current-menu-item a, .main-navigation .current-menu-parent > a, .main-navigation .current_page_parent > a {
  background: #EC1D23;
  color: #fff; }

/*--------------------------------------------------------------
6.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
6.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
6.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
7.0 Modules
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #fff;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
8.0 Header
--------------------------------------------------------------*/
.branding .site-branding {
  margin-top: 10px; }
  .branding .site-branding a img {
    display: block; }
  .branding .site-branding a:hover {
    color: #81152D; }
  .branding .site-branding .site-description {
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    color: #848484;
    font-family: "Open Sans", sans-serif;
    margin-top: -10px; }
  .branding .site-branding h1.site-title a {
    margin-bottom: 0;
    color: #030303; }
    .branding .site-branding h1.site-title a:hover {
      color: #EC1D23; }
  .branding .site-branding h1.site-title {
    margin-bottom: 0;
    font-size: 42px;
    font-size: 4.2rem; }

.top-right aside {
  margin-bottom: 0;
  margin-top: 20px; }
  .top-right aside .widget-title {
    display: none; }

.top-right .widget {
  margin-top: 1em; }
  .top-right .widget h4.widget-title {
    font-size: 10px;
    font-size: 10px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    display: block; }
    .top-right .widget h4.widget-title:after {
      border: 10px solid transparent;
      border-left: 10px solid #EC1D23;
      content: "";
      left: 0;
      bottom: -10px;
      position: absolute; }
  .top-right .widget ul li {
    padding: 8px 0 8px 25px;
    border-bottom: 1px solid #d7d7d7; }
    .top-right .widget ul li a {
      color: #000; }
      .top-right .widget ul li a:hover {
        color: #EC1D23; }
    .top-right .widget ul li li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    .top-right .widget ul li ul.children,
    .top-right .widget ul li .sub-menu {
      padding-top: 5px; }
      .top-right .widget ul li ul.children li:last-child,
      .top-right .widget ul li .sub-menu li:last-child {
        padding-bottom: 0; }
  .top-right .widget select {
    width: 100%; }
.top-right .widget.widget_rss ul li a {
  color: #EC1D23; }
  .top-right .widget.widget_rss ul li a:hover {
    color: #81152D; }
.top-right ul li {
  background: url("images/arrow-left.png") no-repeat left 16px;
  padding-left: 25px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .top-right ul li li {
    padding-left: 5px; }
  .top-right ul li:hover {
    background: url("images/arrow-right.png") no-repeat 12px 16px; }
.top-right ul.children {
  border-top: 1px solid #d7d7d7;
  padding-top: 0 !important;
  margin-left: -25px;
  padding-left: 0;
  margin-top: 15px; }
  .top-right ul.children li {
    padding-left: 50px;
    background-position: 25px 16px; }
    .top-right ul.children li:hover {
      background-position: 37px 16px; }
  .top-right ul.children ul.children {
    margin-left: -50px; }
    .top-right ul.children ul.children li {
      padding-left: 75px;
      background-position: 50px 16px; }
      .top-right ul.children ul.children li:hover {
        background-position: 67px 16px; }
    .top-right ul.children ul.children ul.children {
      margin-left: -75px; }
      .top-right ul.children ul.children ul.children li {
        padding-left: 100px;
        background-position: 75px 16px; }
        .top-right ul.children ul.children ul.children li:hover {
          background-position: 92px 16px; }
.top-right .widget {
  margin: 0 0 2.5em 0;
  /* Make sure select elements fit in widgets */ }
  .top-right .widget ul, .top-right .widget ol {
    padding: 0;
    list-style: none;
    margin: 0; }
    .top-right .widget ul li ul, .top-right .widget ul li ol, .top-right .widget ol li ul, .top-right .widget ol li ol {
      padding: 0; }
  .top-right .widget select {
    max-width: 100%; }

.top-right .widget.widget_nav_menu h4.widget-title {
  display: none; }
.top-right .widget.widget_nav_menu ul {
  text-align: right; }
.top-right .widget.widget_nav_menu li {
  border: 0;
  padding: 0;
  display: inline;
  background: none; }
.top-right .widget.widget_nav_menu a {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  padding: 4px 10px;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase; }
  .top-right .widget.widget_nav_menu a:hover {
    color: #EC1D23; }
.top-right .widget.widget_nav_menu ul.sub-menu {
  margin-top: 0;
  border-top: 0; }

/*--------------------------------------------------------------
9.0 Primary
--------------------------------------------------------------*/
.site-content {
  /*margin: 50px 0px; */
}

.site-main {
  margin: .5em 0; }
  .site-main article.post {
    /*padding: 20px 0;*/ }
.entry-body p:last-child{margin-bottom: 20px;}
.single .site-main article.post {
  padding-top: 0; }

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  visibility: hidden; }

.comment-content a {
  word-wrap: break-word; }

.comment-content p {
  margin-bottom: 0;
  margin-top: 15px; }

.bypostauthor {
  display: block; }

h2.comments-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  line-height: normal; }

ol.comment-list {
  margin: 0;
  list-style-type: none; }

ol.comment-list ol.children {
  list-style-type: none; }

ol.comment-list > li {
  margin-bottom: 20px; }

.comment-body {
  position: relative; }

ol.comment-list .reply {
  display: inline;
  left: 25px;
  position: absolute;
  top: 88px;
  font-size: 14px;
  font-size: 1.4rem; }
  ol.comment-list .reply a:hover {
    color: #030303; }

.byuser .reply a:hover {
  color: #fff; }

.comment-content,
.comment-meta {
  margin-left: 90px; }

.comment-author img {
  position: absolute;
  left: 0; }
.comment-author cite.fn {
  font-style: normal; }
  .comment-author cite.fn a:hover {
    color: #030303; }

ol.comment-list article {
  border: 1px solid #848484;
  margin-bottom: 40px;
  padding: 20px;
  min-height: 120px; }

ol.comment-list article .comment-author img {
  border: 1px solid #848484;
  top: -10px;
  left: -1px;
  width: 90px;
  height: 90px; }

ol.comment-list li.byuser article {
  border-color: #EC1D23;
  background-color: rgba(3, 3, 3, 0.1); }
ol.comment-list li.byuser .comment-author img {
  border-color: #EC1D23; }
ol.comment-list li.byuser .comment-metadata a:hover {
  color: #030303; }

.comment-metadata {
  font-size: 14px;
  font-size: 1.4rem; }
  .comment-metadata a {
    color: #848484; }
    .comment-metadata a:hover {
      color: #EC1D23; }

.byuser .comment-metadata a:hover,
.byuser .comment-content a:hover {
  color: #fff; }

.hentry.sticky {
  color: #fff;
  background-color: #EC1D23;
  padding: 25px !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .hentry.sticky h1.entry-title a {
    color: #fff; }
    .hentry.sticky h1.entry-title a:hover {
      color: #030303; }
  .hentry.sticky a {
    color: #030303; }
    .hentry.sticky a:hover {
      color: #fff; }
  .hentry.sticky span i {
    color: #fff; }
  .hentry.sticky code {
    color: #000; }
  .hentry.sticky .entry-title-meta a,
  .hentry.sticky .entry-title-meta span.edit-link,
  .hentry.sticky .entry-header .header-entry-meta,
  .hentry.sticky .entry-header .header-entry-meta i {
    color: #fff; }
    .hentry.sticky .entry-title-meta a:hover,
    .hentry.sticky .entry-title-meta span.edit-link:hover,
    .hentry.sticky .entry-header .header-entry-meta:hover,
    .hentry.sticky .entry-header .header-entry-meta i:hover {
      color: #030303; }
  .hentry.sticky .entry-footer,
  .hentry.sticky .entry-meta {
    margin-bottom: 0;
    border: 0; }
    .hentry.sticky .entry-footer a,
    .hentry.sticky .entry-meta a {
      color: #fff; }
      .hentry.sticky .entry-footer a:hover,
      .hentry.sticky .entry-meta a:hover {
        color: #030303; }
  .hentry.sticky .blog-content {
    color: #fff; }

.hentry.post {
  /*margin: 0 0 2.5em;*/ }
  .hentry.post h1 a {
    color: #000; }
    .hentry.post h1 a:hover {
      color: #EC1D23; }

.single .byline,
.group-blog .byline {
  display: inline; }

.entry-meta,
.entry-footer {
  margin-bottom: 25px; }
  .entry-meta span,
  .entry-footer span {
    margin: 0 30px 0 0; }
    .entry-meta span span,
    .entry-footer span span {
      margin: 0; }
    .entry-meta span i,
    .entry-footer span i {
      color: #848484;
      padding-right: 5px; }
    .entry-meta span a,
    .entry-footer span a {
      color: #848484; }
      .entry-meta span a:hover,
      .entry-footer span a:hover {
        color: #606060; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  margin: 0 0 1.5em;
  padding: 12px;
  text-align: center;
  color: #d7d7d7;
  background-color: #000;
  display: inline-block; }
  .page-links a {
    padding: 5px 10px;
    color: #EC1D23; }
    .page-links a:hover {
      color: #fff; }

/*blockquote {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #EC1D23; }
  blockquote:before {
    position: static;
    content: "\f10d";
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'FontAwesome';
    left: 46%;
    top: -25px;
    background-color: #EC1D23;
    padding: 0 6px;
    color: #fff;
    padding: 0 3px;
    background-clip: padding-box;
    stops bg color from leaking outside the border: 
   -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }*/

 blockquote {
  background-color: #EC1D23;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: italic; 
  font-weight: bold;
  margin: 0.25em 0;
  padding: 0.25em 20px;
  line-height: 1.45;
  position: relative; 
  }

  blockquote:before {
  display: inline-block;
  content: "\201C";
  font-size: 50px;
  position: absolute;
  left: 5px;
  top: 16px;
  color: #fff;
  }

  blockquote p {
    margin-bottom: 0;
    font-size: 20px;
    font-size: 2rem;
    padding: 20px;
    color: #fff; }
    blockquote p cite {
      font-style: normal;
      text-transform: uppercase; }
    blockquote p a, blockquote p a:visited {
      color: #d7d7d7;
      font-size: 14px;
      font-size: 1.4rem; }
    blockquote p a:hover {
      color: #81152D; }

.wpcf7-form span.wpcf7-list-item {
  margin: 0 10px; }
.wpcf7-form .wpcf7-form-control-wrap select {
  padding: 5px 20px; }

.flexslider {
  border: 0 !important;
  margin-bottom: 0;
  -webkit-box-shadow: inset 0 0 0 transparent !important;
  -moz-box-shadow: inset 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 transparent !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  background: transparent !important; }
  .flexslider .slides > li {
    position: relative;
    overflow: hidden; }
  .flexslider .flex-image {
    height: 450px; }
  .flexslider .flex-direction-nav a {
    margin: 0;
    text-align: center;
    top: 45%;
    width: 70px;
    height: 70px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 0px;
    font-size: 0rem;
    line-height: 70px;
    border: 1px solid #fff;
    background: transparent !important; }
    .flexslider .flex-direction-nav a:hover {
      background: #fff !important; }
  .flexslider .flex-direction-nav a:before {
    font-size: 20px;
    font-size: 2rem;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .flexslider .flex-direction-nav a:hover:before {
    color: #030303; }
  .flexslider .flex-direction-nav a.flex-next {
    right: 0 !important; }
  .flexslider .flex-direction-nav a.flex-prev {
    left: 0 !important; }
  .flexslider .flex-control-nav {
    text-align: right;
    bottom: 0; }
    .flexslider .flex-control-nav li {
      display: block;
      float: left;
      margin: 0; }
    .flexslider .flex-control-nav a {
      color: #d7d7d7;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      -webkit-border-radius: 0px !important;
      border-radius: 0px !important;
      -webkit-box-shadow: inset 0 0 0 transparent;
      -moz-box-shadow: inset 0 0 0 transparent;
      box-shadow: inset 0 0 0 transparent;
      background-color: #d7d7d7;
      font-size: 16px;
      font-size: 1.6rem;
      width: 30px;
      height: 30px;
      text-indent: 0;
      text-align: center;
      line-height: 30px; }
  .flexslider ol.flex-control-paging {
    text-align: center;
    bottom: 30px;
    z-index: 10; }
    .flexslider ol.flex-control-paging li {
      float: none;
      display: inline; }
      .flexslider ol.flex-control-paging li a {
        display: inline-block;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        -webkit-border-radius: 25px !important;
        border-radius: 25px !important;
        width: 15px;
        height: 15px;
        line-height: 15px;
        background-color: #fff;
        border: 0 !important;
        text-indent: -9999em !important;
        margin: 0 3px; }
      .flexslider ol.flex-control-paging li a.flex-active {
        background-color: #EC1D23; }
  .flexslider:hover .flex-direction-nav a.flex-prev {
    left: 50px !important;
    background-color: rgba(0, 0, 0, 0.8); }
  .flexslider:hover .flex-direction-nav a.flex-next {
    right: 50px !important;
    background-color: rgba(0, 0, 0, 0.8); }
  .flexslider .flex-caption {
    position: absolute;
    right: 0%;
    bottom: 5%;
    width: 100%; }
    .flexslider .flex-caption h1, .flexslider .flex-caption h2, .flexslider .flex-caption h3, .flexslider .flex-caption h4, .flexslider .flex-caption h5, .flexslider .flex-caption h6, .flexslider .flex-caption p, .flexslider .flex-caption li, .flexslider .flex-caption a {
      color: #000;
      padding: 5px 0;
      margin: 0 5% 15px;
      background-color: rgba(255, 255, 255, 0.7);
      display: block;
      width: 50%;
      padding-left: 15px; }
    .flexslider .flex-caption a {
      color: #000;
      background: none;
      margin: 0;
      display: block;
      font-weight: 700;
      margin: 0;
      padding-left: 0;
      font-size: 18px;
      font-size: 1.8rem;
      text-transform: none; }
      .flexslider .flex-caption a:hover {
        color: #780101; }

.services-wrapper {
  padding-top: 40px; }

.services {
  text-align: center;
  background-color: #EC1D23; }
  .services h4 {
    background-color: #000;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    font-size: 2rem;
    padding: 10px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif; }
  .services p {
    color: #d7d7d7;
    margin: 0;
    border-top: 1px solid #fff; }

/* Flex Recent Post */
.post-wrapper h3 {
  text-align: center;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }
.post-wrapper .latest-post-thumb img {
  display: block;
  margin: 0 auto; }
.post-wrapper .latest-post:nth-child(3n+1) {
  clear: both; }
.post-wrapper .latest-post {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-bottom: 1.5em;
  min-height: 260px; }
  .post-wrapper .latest-post h5 {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 5px;
    margin: 0 20px 20px; }
    .post-wrapper .latest-post h5 a {
      display: block;
      color: #000; }
      .post-wrapper .latest-post h5 a:hover {
        color: #EC1D23; }
    .post-wrapper .latest-post h5 span {
      padding-right: 15px;
      color: #848484;
      font-weight: 400;
      font-size: 15px;
      font-size: 1.5rem; }
      .post-wrapper .latest-post h5 span i {
        font-style: normal;
        padding-right: 5px; }
  .post-wrapper .latest-post p {
    padding: 0 20px;
    color: #848484; }
  .post-wrapper .latest-post a.btn-readmore {
    display: block;
    width: 40%;
    background-color: #848484;
    text-align: center;
    color: #fff;
    padding: 5px 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .post-wrapper .latest-post a.btn-readmore:hover {
      background-color: #EC1D23; }

.error-404.not-found h1.page-title {
  text-align: center;
  margin-bottom: 30px; }
  .error-404.not-found h1.page-title span {
    color: #81152D;
    display: block; }
.error-404.not-found form {
  margin-bottom: 25px; }
.error-404.not-found .page-content li {
  padding: 10px 0;
  border-bottom: 1px solid #d7d7d7; }
.error-404.not-found .page-content select {
  width: 100%; }

.home .site-content #primary .services-wrapper {
  margin-top: 30px;
  border-bottom: 1px solid #d7d7d7; }
  .home .site-content #primary .services-wrapper div {
    border: 1px solid #d7d7d7;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative; }
    .home .site-content #primary .services-wrapper div:last-child {
      margin-right: 0; }
    .home .site-content #primary .services-wrapper div h1, .home .site-content #primary .services-wrapper div h2, .home .site-content #primary .services-wrapper div h3, .home .site-content #primary .services-wrapper div h4, .home .site-content #primary .services-wrapper div h5, .home .site-content #primary .services-wrapper div h6, .home .site-content #primary .services-wrapper div p {
      text-align: center;
      font-weight: 600;
      padding: 5px 10px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .home .site-content #primary .services-wrapper div p {
      font-weight: 400;
      display: none; }
    .home .site-content #primary .services-wrapper div img {
      display: block;
      position: relative;
      z-index: 1;
      /*margin-bottom: 20px;*/
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .home .site-content #primary .services-wrapper div:after {
      width: 100%;
      height: 10px;
      bottom: 0;
      background-color: #ec1d23;
      content: "";
      left: 0;
      position: absolute;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      z-index: -1; }
    .home .site-content #primary .services-wrapper div:hover:after {
      height: 100%; }
    .home .site-content #primary .services-wrapper div:hover img {
      opacity: 0;
      margin: 0;
      padding: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.5s easeout;
      -moz-transition: all 0.5s easeout;
      -ms-transition: all 0.5s easeout;
      -o-transition: all 0.5s easeout;
      transition: all 0.5s easeout;
      height: 10px;
      position: absolute; }
    .home .site-content #primary .services-wrapper div:hover h1, .home .site-content #primary .services-wrapper div:hover h2, .home .site-content #primary .services-wrapper div:hover h3, .home .site-content #primary .services-wrapper div:hover h4, .home .site-content #primary .services-wrapper div:hover h5, .home .site-content #primary .services-wrapper div:hover h6, .home .site-content #primary .services-wrapper div:hover p {
      color: #fff; }
    .home .site-content #primary .services-wrapper div:hover p {
      display: block; }
    .home .site-content #primary .services-wrapper div:hover h4 {
      padding-top: 40px;
      margin-bottom: 0; }
.home .site-content #primary .post-wrapper .post-wrapper-head {
  text-align: center;
  /*margin: 0 auto 40px; */
}
.home .site-content #primary .post-wrapper .latest-post {
  /*margin-bottom: 20px;*/
  border: 1px solid #d7d7d7; }
  .home .site-content #primary .post-wrapper .latest-post .latest-post-thumb img {
    /*margin-bottom: 20px; }*/

.breadcrumb-wrap {
  background: url("images/bg-repeat-pattern2.png") repeat left top;
  padding: 20px 0 30px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }
  .breadcrumb-wrap #breadcrumb {
    text-align: center; }
    .breadcrumb-wrap #breadcrumb #crumbs {
      padding: 10px 0 0;
      color: #000; }
    .breadcrumb-wrap #breadcrumb a {
      color: #EC1D23;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-size: 1.4rem; }
      .breadcrumb-wrap #breadcrumb a:hover {
        color: #000; }
    .breadcrumb-wrap #breadcrumb .fa.fa-home:before {
      font-size: 20px;
      font-size: 2rem; }
    .breadcrumb-wrap #breadcrumb span {
      margin-left: 8px;
      margin-right: 8px;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-size: 1.4rem; }
      .breadcrumb-wrap #breadcrumb span:first-child {
        margin-left: 0; }

.breadcrumb {
  margin-bottom: 0; }
  .breadcrumb .entry-header {
    text-align: center;
    margin-bottom: 0; }
    .breadcrumb .entry-header h1 {
      margin-bottom: 0;
      text-transform: none; }

.post {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 0;
  margin-bottom: 30px; }

.post-thumb img {
  max-width: 100%; }

.entry-header,
.entry-body {
  margin-bottom: 25px;
  position: relative; }
  .entry-header .header-entry-meta,
  .entry-body .header-entry-meta {
    width: 100xpx;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
    text-align: center;
    padding-left: 60px;
    font-size: 20px;
    font-size: 2rem;
    color: #EC1D23; }
    .entry-header .header-entry-meta span,
    .entry-body .header-entry-meta span {
      padding: 0;
      display: block;
      margin: -10px 0 0; }
    .entry-header .header-entry-meta i,
    .entry-body .header-entry-meta i {
      position: absolute;
      left: 0;
      height: 100%;
      width: 50%;
      text-align: center;
      border-right: 1px solid #d7d7d7;
      padding-right: 10px;
      font-size: 30px;
      font-size: 3rem;
      line-height: 50px;
      color: #848484; }
  .entry-header .entry-title-meta,
  .entry-header .entry-header .entry-title,
  .entry-body .entry-title-meta,
  .entry-body .entry-header .entry-title {
    margin-bottom: 0; }
  .entry-header .entry-title,
  .entry-body .entry-title {
    text-transform: uppercase;
    font-size: 40px;
    font-size: 4rem; }
  .entry-header .entry-title-meta span,
  .entry-body .entry-title-meta span {
    color: #848484; }
    .entry-header .entry-title-meta span:hover,
    .entry-body .entry-title-meta span:hover {
      color: #EC1D23; }
  .entry-header .entry-title-meta a,
  .entry-body .entry-title-meta a {
    color: #848484; }
    .entry-header .entry-title-meta a:hover,
    .entry-body .entry-title-meta a:hover {
      color: #EC1D23; }
  .entry-header .entry-title-meta span,
  .entry-body .entry-title-meta span {
    padding-right: 15px; }
    .entry-header .entry-title-meta span span,
    .entry-body .entry-title-meta span span {
      padding-right: 0; }
    .entry-header .entry-title-meta span i,
    .entry-body .entry-title-meta span i {
      padding-right: 6px; }

.hentry .entry-header {
  min-height: 100px; }

.page-template-blog-fullwidth .thumb img,
.page-template-blog-large .thumb img,
.archive.category .thumb img {
  display: block;
  max-width: 100%; }
.page-template-blog-fullwidth .entry-body a.more-link,
.page-template-blog-large .entry-body a.more-link,
.archive.category .entry-body a.more-link {
  display: block;
  padding: 5px;
  width: 150px;
  border: 0;
  background-color: #EC1D23;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .page-template-blog-fullwidth .entry-body a.more-link:hover,
  .page-template-blog-large .entry-body a.more-link:hover,
  .archive.category .entry-body a.more-link:hover {
    background-color: #030303; }
.page-template-blog-fullwidth .post .entry-content,
.page-template-blog-large .post .entry-content,
.archive.category .post .entry-content {
  margin-top: 0; }

.blog-content {
  color: #848484; }

.thumb.blog-thumb {
  margin-bottom: 15px; }

.archive .page-header h1.page-title {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 15px;
  margin-bottom: 30px; }

.site-content article .entry-title, .site-content article .entry-title-meta {
  width: 88%; }

.single .post-thumb img {
  max-width: 100%; }
.single .entry-header {
  position: relative; }
  .single .entry-header .entry-title {
    margin-bottom: 0; }
.single footer.entry-meta a {
  padding: 5px 10px; }
.single .post-navigation span {
  display: block; }
.single .entry-content {
  margin-top: 20px; }


/*--------------------------------------------------------------
10.0 Secondary
--------------------------------------------------------------*/
#secondary {
  padding-left: 50px; }

.right-sidebar {
  padding-left: 0px !important;
  padding-right: 50px; }

.widget-area {
  margin-top: 1.5em;
  float: right!important; }
  .widget-area h4.widget-title {
    font-size: 20px;
    font-size: 2rem;
   
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
    position: relative; }
    .widget-area h4.widget-title:after {
      border: 10px solid transparent;
      border-left: 10px solid #EC1D23;
      content: "";
      left: 0;
      bottom: -10px;
      position: absolute; }
  .widget-area ul li {
    padding: 8px 0 8px;
    border-bottom: 1px solid #d7d7d7; }
    .widget-area ul li a {
      color: #000; }
      .widget-area ul li a:hover {
        color: #EC1D23; }
    .widget-area ul li li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    .widget-area ul li ul.children,
    .widget-area ul li .sub-menu {
      padding-top: 5px; }
      .widget-area ul li ul.children li:last-child,
      .widget-area ul li .sub-menu li:last-child {
        padding-bottom: 0; }
  .widget-area select {
    width: 100%; }

.widget-area ul li {
  background: url("images/arrow-left.png") no-repeat left 16px;
  padding-left: 25px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .widget-area ul li li {
    padding-left: 5px; }
  .widget-area ul li:hover {
    background: url("images/arrow-right.png") no-repeat 12px 16px; }
.widget-area ul.children {
  border-top: 1px solid #d7d7d7;
  padding-top: 0 !important;
  margin-left: -25px;
  padding-left: 0;
  margin-top: 15px; }
  .widget-area ul.children li {
    padding-left: 50px;
    background-position: 25px 16px; }
    .widget-area ul.children li:hover {
      background-position: 37px 16px; }
  .widget-area ul.children ul.children {
    margin-left: -50px; }
    .widget-area ul.children ul.children li {
      padding-left: 75px;
      background-position: 50px 16px; }
      .widget-area ul.children ul.children li:hover {
        background-position: 67px 16px; }
    .widget-area ul.children ul.children ul.children {
      margin-left: -75px; }
      .widget-area ul.children ul.children ul.children li {
        padding-left: 100px;
        background-position: 75px 16px; }
        .widget-area ul.children ul.children ul.children li:hover {
          background-position: 92px 16px; }

.widget {
  margin: 0 0 2.5em 0;
  /* Make sure select elements fit in widgets */ }
  .widget ul, .widget ol {
    padding: 0;
    list-style: none;
    margin: 0; }
    .widget ul li ul, .widget ul li ol, .widget ol li ul, .widget ol li ol {
      padding: 0; }
  .widget select {
    max-width: 100%; }

.widget_calendar table th, .widget_calendar table td {
  text-align: center;
  padding: 7px;
  border: 0; }
  .widget_calendar table th a, .widget_calendar table td a {
    display: block;
    color: #EC1D23; }
    .widget_calendar table th a:hover, .widget_calendar table td a:hover {
      color: #81152D; }
.widget_calendar table th {
  font-weight: 400; }
.widget_calendar table td#prev {
  text-align: left; }
.widget_calendar table td#next {
  text-align: right; }
.widget_calendar table caption {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  background-color: #EC1D23;
  color: #fff;
  padding: 5px 0; }

.widget-area .rss-date,
.widget-area .widget_rss cite {
  display: block;
  color: #d7d7d7;
  margin: 5px 0; }
.widget-area .widget_rss span {
  color: #848484; }
.widget-area .widget_rss cite {
  color: #848484; }
.widget-area .widget_rss a {
  color: #EC1D23; }
  .widget-area .widget_rss a:hover {
    color: #030303; }
.widget-area .widget_rss .widget-title .rsswidget img {
  margin: 0; }
.widget-area .widget_rss ul li {
  background: none;
  padding-left: 0; }
.widget-area .rssSummary {
  font-size: .95em; }

.widget_search .search-form {
  position: relative; }
  .widget_search .search-form label {
    display: block;
    border: 1px solid #d7d7d7; }
  .widget_search .search-form input[type="search"] {
    color: #000;
    width: 63%;
    padding: 5px 5% 5px 32%;
    border: 0; }
  .widget_search .search-form input.search-submit {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 0; }

.widget-area .textwidget select {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #848484; }

.wp-caption .wp-caption-text {
  margin: 0; }

.widget_tag_cloud a {
  padding: 4px 6px;
  color: #030303;
  margin: 3px;
  display: inline-block;
  border: 1px solid #EC1D23; }
  .widget_tag_cloud a:hover {
    color: #fff;
    background-color: #EC1D23; }

.widget_nav_menu a {
  display: block; }
.widget_nav_menu ul.sub-menu li {
  text-indent: 0; }
.widget_nav_menu ul.sub-menu {
  border-top: 1px solid #d7d7d7;
  padding-top: 0 !important;
  margin-left: -10px;
  padding-left: 0;
  margin-top: 15px; }
  .widget_nav_menu ul.sub-menu li {
    padding-left: 25px; }

.top-right ul, .share-box ul {
  margin: 0;
  padding: 0;
  text-align: right; }
  .top-right ul li, .share-box ul li {
    list-style: none;
    margin: 0;
    display: inline;
    background: none;
    border-bottom: none !important;
    padding: 0 !important; }
    .top-right ul li:hover, .share-box ul li:hover {
      background: none; }
    .top-right ul li a .fa, .share-box ul li a .fa {
      color: #fff;
      background: #EC1D23;
      width: 70px;
      height: 35px;
      display: inline-block;
      text-align: center;
      margin: 0;
      position: relative;
      overflow: visible;
      margin-bottom: 10px;
      line-height: 34px; }
      .top-right ul li a .fa i, .share-box ul li a .fa i {
        font-size: 15px;
        font-size: 1.5rem; }
      .top-right ul li a .fa:hover, .share-box ul li a .fa:hover {
        background-color: #030303 !important;
        color: #fff; }
        .top-right ul li a .fa:hover:after, .share-box ul li a .fa:hover:after {
          border-top-color: #030303 !important; }
    .top-right ul li .fa-digg, .share-box ul li .fa-digg {
      background: #5C79B7 !important; }
    .top-right ul li .fa-dribbble, .share-box ul li .fa-dribbble {
      background: #ea4c89 !important; }
    .top-right ul li .fa-facebook, .share-box ul li .fa-facebook {
      background: #3b5998 !important; }
    .top-right ul li .fa-flickr, .share-box ul li .fa-flickr {
      background: #ff0084 !important; }
    .top-right ul li .fa-google-plus, .share-box ul li .fa-google-plus {
      background: #df4a32 !important; }
    .top-right ul li .fa-linkedin, .share-box ul li .fa-linkedin {
      background: #0073b2 !important; }
    .top-right ul li .fa-pinterest, .share-box ul li .fa-pinterest {
      background: #c92228 !important; }
    .top-right ul li .fa-rss, .share-box ul li .fa-rss {
      background: #ff9702 !important; }
    .top-right ul li .fa-skype, .share-box ul li .fa-skype {
      background: #00aff0 !important; }
    .top-right ul li .fa-tumblr, .share-box ul li .fa-tumblr {
      background: #2c4762 !important; }
    .top-right ul li .fa-twitter, .share-box ul li .fa-twitter {
      background: #00acee !important; }
    .top-right ul li .fa-vimeo-square, .share-box ul li .fa-vimeo-square {
      background: #3b5998 !important; }
    .top-right ul li .fa-youtube, .share-box ul li .fa-youtube {
      background: #df0f32 !important; }
  .top-right ul li:last-child, .share-box ul li:last-child {
    margin-right: 0; }

.top-right {
  margin-top: 25px;
  position: relative;
  top: 10px; }

.share-box {
  margin-bottom: 20px; }
  .share-box h4 {
    margin-bottom: 10px; }
  .share-box ul {
    text-align: left; }
    .share-box ul li {
      margin: 0; }
      .share-box ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px; }

/*--------------------------------------------------------------
11.0 Footer
--------------------------------------------------------------*/
.site-footer .footer-widgets {
  margin-top: 0; }

.site-footer {
  background: url("images/bg-repeat-footer.png") repeat left top; }
  .site-footer .footer-widgets {
    background-color: #2D2D2D;
    color: #fff;
    padding: 40px 0; }
    .site-footer .footer-widgets h4.widget-title {
      color: #fff;
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 10px; }
    .site-footer .footer-widgets ul li {
      color: #d7d7d7;
      border-color: rgba(255, 255, 255, 0.2); }
    .site-footer .footer-widgets ul.children,
    .site-footer .footer-widgets .widget_nav_menu ul.sub-menu {
      border-color: rgba(255, 255, 255, 0.2); }
    .site-footer .footer-widgets a {
      color: #fff; }
      .site-footer .footer-widgets a:hover {
        color: #EC1D23; }
    .site-footer .footer-widgets p {
      margin-bottom: 0; }
    .site-footer .footer-widgets .widget_tag_cloud a:hover {
      color: #fff; }
    .site-footer .footer-widgets ul li {
      background-image: url(images/white-arrow-left.png); }
      .site-footer .footer-widgets ul li:hover {
        background-image: url(images/white-arrow-right.png); }
    .site-footer .footer-widgets .widget_rss ul li {
      background: none; }

.footer-bottom {
  padding: 15px 0; }
  .footer-bottom .widget {
    margin: 0; }
  .footer-bottom p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem; }
    .footer-bottom p a {
      color: #EC1D23; }
      .footer-bottom p a:hover {
        color: #fff; }
  .footer-bottom .widget_nav_menu ul {
    text-align: right; }
  .footer-bottom .widget_nav_menu li {
    border: 0;
    padding: 0;
    display: inline; }
  .footer-bottom .widget_nav_menu a {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    font-size: 1.3rem;
    text-transform: uppercase; }
    .footer-bottom .widget_nav_menu a:hover {
      color: #EC1D23; }
  .footer-bottom .widget_nav_menu ul.sub-menu {
    margin-top: 0;
    border-top: 0; }

/*--------------------------------------------------------------
12.0 Responsiveness
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .flexslider .flex-caption {
    height: 80%; }
    .flexslider .flex-caption h1, .flexslider .flex-caption h2, .flexslider .flex-caption h3, .flexslider .flex-caption h4, .flexslider .flex-caption h5, .flexslider .flex-caption h6, .flexslider .flex-caption p, .flexslider .flex-caption li, .flexslider .flex-caption a {
      width: 80%; }
    .flexslider .flex-caption a {
      width: 40%; }
  .flexslider .flex-image {
    height: 400px; } }
@media only screen and (max-width: 768px) {
  .services-wrapper {
    margin-bottom: 20px;
    text-align: center; }
    .services-wrapper img {
      display: block;
      margin: 0 auto;
      padding-top: 20px; }
    .services-wrapper .four.columns {
      margin-bottom: 50px; }

  .site-description {
    text-align: center !important; }

  .top-right .widget_social-networks-widget ul, .top-right .share-box ul {
    text-align: center; }
  .top-right aside {
    margin-top: 0;
    margin-bottom: 20px; }

  .site-branding {
    text-align: center; }
    .site-branding img {
      margin: 0 auto; }

  .main-navigation {
    margin: 0; }
    .main-navigation a {
      padding: 15px; }

  #secondary {
    padding-left: 0; }

  .flexslider .flex-caption {
    position: static;
    background-color: #81152D;
    padding: 30px 20px; }

  .flexslider .flex-image {
    height: auto; }

  .flexslider ol.flex-control-paging {
    bottom: 0; }

  .home .site-content #primary .services-wrapper {
    margin-bottom: 50px;
    padding-bottom: 0; }

  .post-wrapper .latest-post a.btn-readmore {
    display: inline-block;
    width: auto; } }
@media only screen and (max-width: 700px) {
  #commentform .comment-form-author,
  #commentform .comment-form-email,
  #commentform .comment-form-url {
    width: 100%;
    float: none;
    margin-right: 0; }

  #commentform .comment-form-author input,
  #commentform .comment-form-url input,
  #commentform .comment-form-email input {
    width: 100%; }

  .nav-links .nav-previous,
  .nav-links .nav-next,
  .comment-navigation .nav-previous,
  .comment-navigation .nav-next {
    width: 100%;
    float: none;
    margin-bottom: 10px; }

  .post-navigation .nav-links a,
  .comment-navigation .nav-previous a,
  .comment-navigation .nav-next a {
    display: block;
    text-align: center; } }
@media only screen and (max-width: 480px) {
  .main-navigation {
    padding: 10px 0; }
    .main-navigation button.menu-toggle {
      margin: 0 auto;
      font-size: 20px;
      font-size: 2rem;
      margin-bottom: 20px; }
    .main-navigation ul li {
      float: none; }
      .main-navigation ul li a {
        display: block; }
    .main-navigation ul ul li:hover > ul {
      left: 0% !important;
      width: 100%; }

  .flex-recent-posts li {
    width: 100%; }
    .flex-recent-posts li img {
      max-width: 100%;
      width: 100%; }

      hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D2233D -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 2px 0 0;
    margin-bottom: 20px;
    margin-top: 0;
}

  ol.comment-list ol.children {
    margin-left: 1em; }

  .flexslider ol.flex-control-paging li a {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-width: 3px; }

  .flexslider .flex-direction-nav a {
    width: 30px !important;
    height: 30px;
    line-height: 30px; }
    .flexslider .flex-direction-nav a:before {
      font-size: 16px;
      font-size: 1.6rem; }

  .flexslider .flex-direction-nav a::after {
    border-width: 10px 0 10px 10px;
    bottom: -20px; }

  .flexslider .flex-direction-nav a.flex-next::after {
    border-width: 10px 10px 10px 0; } }

/*# sourceMappingURL=style.css.map */
